/* The main scrollbar **track** CSS class  */
.mylistview .scroll-bar:horizontal .track,
.mylistview .scroll-bar:vertical .track {
    -fx-background-color: transparent;
    -fx-border-color: transparent;
    -fx-background-radius: 0em;
    -fx-border-radius: 2em;
}

/* The increment and decrement button CSS class of scrollbar */
.mylistview .scroll-bar:horizontal .increment-button,
.mylistview .scroll-bar:horizontal .decrement-button {
    -fx-background-color: transparent;
    -fx-background-radius: 0em;
    -fx-padding: 0 0 10 0;
}

/* The increment and decrement button CSS class of scrollbar */

.mylistview .scroll-bar:vertical .increment-button,
.mylistview .scroll-bar:vertical .decrement-button {
    -fx-background-color: transparent;
    -fx-background-radius: 0em;
    -fx-padding: 0 10 0 0;

}

.mylistview .scroll-bar .increment-arrow,
.mylistview .scroll-bar .decrement-arrow {
    -fx-shape: " ";
    -fx-padding: 0;
}

/* The main scrollbar **thumb** CSS class which we drag every time (movable) */
.mylistview .scroll-bar:horizontal .thumb,
.mylistview .scroll-bar:vertical .thumb {
    -fx-background-color: derive(black, 90%);
    -fx-background-insets: 2, 0, 0;
    -fx-background-radius: 2em;
}

.jfx-list-cell-container {
    -fx-alignment: center-left;
}

.jfx-list-cell-container > .label {
    -fx-text-fill: BLACK;
}

.jfx-list-cell:odd:selected > .jfx-rippler > StackPane, .jfx-list-cell:even:selected > .jfx-rippler > StackPane {
    -fx-background-color: rgba(0, 0, 255, 0.2);
}

.jfx-list-cell {
    -fx-background-insets: 0.0;
    -fx-text-fill: BLACK;
}

.jfx-list-cell:odd, .jfx-list-cell:even {
    -fx-background-color: WHITE;
}

.jfx-list-cell:filled:hover {
    -fx-text-fill: black;
}

.jfx-list-cell .jfx-rippler {
    -jfx-rippler-fill: BLUE;
}

.jfx-list-view {
    -fx-background-insets: 0;
    -jfx-cell-horizontal-margin: 0.0;
    -jfx-cell-vertical-margin: 5.0;
    -jfx-vertical-gap: 10;
    -jfx-expanded: false;
}
